<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ICommandBroadcastService" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommandSubscribeService" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICommandSubscribeService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CommandService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ICommandSubscribeService"
                contract="CommandBroadcastService.ICommandSubscribeService"
                name="WSDualHttpBinding_ICommandSubscribeService">
                <identity>
                    <userPrincipalName value="akj@Speedstep.local" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8733/CommandService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICommandSubscribeService"
                contract="CommandBroadcastService.ICommandSubscribeService"
                name="NetTcpBinding_ICommandSubscribeService">
                <!--<identity>
                    <dns value="localhost" />
                </identity>-->
            </endpoint>
            <endpoint address="net.pipe://localhost/CommandService" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ICommandBroadcastService"
                contract="CommandBroadcastService.ICommandBroadcastService"
                name="NetNamedPipeBinding_ICommandBroadcastService">
                <!--<identity>
                    <userPrincipalName value="akj@Speedstep.local" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>