<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommandSubscribeService" />
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ICommandSubscribeService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/CommandService" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ICommandSubscribeService" contract="CommandSubscribeService.ICommandSubscribeService" name="WSDualHttpBinding_ICommandSubscribeService">
                <identity>
                    <userPrincipalName value="akj@Speedstep.local" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8733/CommandService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommandSubscribeService" contract="CommandSubscribeService.ICommandSubscribeService" name="NetTcpBinding_ICommandSubscribeService">
                <!--<identity>
                    <dns value="localhost" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>